
  <img src="/assets/ün,.jpg" alt="image">
   
      <h3>Üniversite Sınavına Hazırlık
      </h3>
      <h2>Üniversite sınavına hazırlanma

      </h2>  
      <p>
        Sınavlar hayatımızın her dakikasında bizlere uygulanan bir uygulamadır. Bu sınavların somut olanları da liseye geçiş sınavı, üniversiteye giriş sınavı ve benzeri sınavlar olarak örneklendirebiliriz. Bu tür sınavlara özellikle üniversite sınavına hazırlanma döneminde kimimiz doğru yolu kendisi bulurken de bazen bir rehberlik servisinden yararlanırlar. Bazıları da ne yapacağını bilemezler ve kendilerince yöntem bulmaya çalışırlar ve yanlış yolda ilerleyedebilirler. Bunun tek çözümü de bir destek almaktır. Peki bu yöntemler nasıl olacak, size bunların açıklamasını yapacağım.
      </p>
      <h2>
        Sınava Hazırlanma Süreci
      </h2>
      <p>
        Sınava hazırlanmamız için uzun bir sürecimiz vardır. İlk yapmamız gereken hangi bölümden sınava gireceğimizin bilincinde olmaktır. Kiminin sözel ağırlıklı zekası varken kiminin de sayısal zekası daha ağırlıklıdır. Bu seçim sizin için elbette ki çok önemlidir. Çünkü bir sene boyunca o bölümün derslerine ağırlık vererek derslerinize çalışmaya başlayacak ve denemelerde ise o bölümün derslerindeki soruları yapacak olacaksınız. 9 ve 10. Sınıfta bütün dersleri görmenizin sebebi, hem TYT sınavına alt yapı olarak hazırlamak hem de sizlerin hangi bölümün derslerine daha hâkim olduğunuzu görmek olmuştur.
        Bölümümüzü de seçtiğimize göre sıradaki seçeneğimiz ise sınav hazırlık sürecimizi nasıl gerçekleştirecek olacağımızdır. Bildiğiniz üzere sınav kursları hala günümüzde mevcuttur. Okulda yeterli eğitimi göremediğinizi veya okuldaki çalışma ortamı size uygun gelmiyor ise bir destek de sınav kursları yardımcı olacaktır. Sınav kursları size daha aktif bir eğitim sunarken aynı zamanda okulun yapmadığı bir şeyi yapıyorlar. O da haftalık deneme sınavlarıdır. Haftalık deneme sınavlarında sizlerin seviyesini ölçerken eksik olduğunuz konuların tespitini yaparak sizlere daha iyi bir ders eğitimi sağlamaktadırlar. Bildiğimiz üzere sınav kursları özel öğretim olduğundan dolayı sınıf kapasitesi bir hayli orta seviyede tutulmaktadır bu da 10-15 kişi gibi bir kapasiteyi tahminen söyleyebiliriz. Bu kapasitenin sınırlı sayıda olması da öğrenci-öğretmen ilişkisinin daha yakın olacağı anlamına da gelmektedir. Bu gibi ve birçok avantajı bulunan sınav kurslarını da tercih edebilirsiniz.
      
      Bir diğer sınava hazırlık sürecinde destekçiniz ise özel dersler olabilir. Özel dersler alarak bir türlü gelişim gösteremediğiniz derslerden özel ders alabilirsiniz. Bu yöntem de zaman bakımından sizlere daha verim sağlarken sınav kurslarının da yerini tutmayabilir demem de fayda var.
      
      Hiçbir ücret ödemeden de kendi başıma derslerime odaklanmak istiyorum diyecek olursanız eğer kütüphaneler tam sizlere göre bir tercih de olabilir. Ev ortamında ders çalışma olanağı kısıtlı olabiliyor. Kütüphanelerde sizler gibi sınavlara hazırlanan birçok öğrenci bulunmaktadır. Bu öğrencilerin çokluğu sizlerin de daha azimli bir ders çalışmaya sürükleyebilir, sessiz bir ortam da sizlere sunabilir.  
      </p>
      <h2>
        Evden Üniversiteye Hazırlanma  
      </h2>
      <p>
        Evden üniversiteye hazırlanma süreci birçok kişinin merak ettiği bir konu. Sınav sürecine hazırlanırken nasıl bir destek işleyişi ilerleyeceğinize siz karar verirken geriye de çalışma planının nasıl olması gerektiği kalıyor. Sınavlara hazırlanırken birçok kitap almak isteriz ama bunu asla ve asla yapmayın. Çünkü fazla kitap almanız demek ileri ki süreçlerde sizlere yük olacaktır. Belli konuları her kitaptan bitirmeye çalışmanız demek sizlere baya bir zaman kaybı yaratacaktır. Onun yerine bir temel seviye kitap ve ona eşlik edecek orta seviye bir kitap tercih edebilirsiniz. Sınav sürecine de son üç ay kala da her hafta bir deneme olacak şekilde kendinize denemeler satın alabilirsiniz veya sınav kurslarının ücretsiz verdiği kurslara da başvurabilirsiniz. Evden sınav hazırlığı yapmak dezavantaj olmayıp başarılı olan öğrenci sayısı oldukça fazladır.
      
        Elbette ki bir sınav kursuna gidiyorsanız eğer sizler her hafta kursunuzun sizlere sağladığı sınava girmenizde fayda olacaktır. Türkçe de hangi bölümden sıkıntı çekiyorsanız eğer o bölüm üzerine kitap satın alabilirsiniz. Yani, paragraf sorularında sıkıntı çekiyorsanız eğer paragraf kitabı, dil bilgisi bölümünden sıkıntı çekiyorsanız da dil bilgisi kitabı satın almanızda fayda sağlayacaktır. Matematiğim çok kötü, hiçbir şey anlamıyorum neredeyse sıfır diyorsanız da sizlere Antrenmanlarla Matematik kitabı çok ama çok katkıda bulunacaktır.
        
        Kimileri çok gereksiz dese de aldırış etmeyin. Gereksiz bir kitap olsaydı 5 senedir piyasada satanlar arasında yer almazdı. Tarih ve coğrafya derslerindeki ezber konuları da unutuyorsanız eğer internet üzerinde bulunan videolardan görsel zekanızda kalacak şekilde dersler işleyebilirsiniz. Hangi sınavlara hazırlanmam için yeterli olur derseniz ayrım yok; TYT, KPSS, YKS, ALES ve tamamı için geçerlidir.  
      </p>
    