<div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
  <div class="card-header">TÜREV</div>
  <div class="card-body">
    <h4 class="card-title">Türev Nedir</h4>
    <p class="card-text">Türev, diğer sayı kümeleri üzerindeki fonksiyonlar için de genellenmiş olmasına rağmen öncelikle reel değerli, yani reel sayılardan reel sayılara giden tek değişkenli fonksiyonlar için tanımlanmış, kabaca bir fonksiyonun grafiğine çizilen teğetin eğimini hesaplama tekniğidir.</p>
  </div>
</div>
<div class="card bg-secondary mb-3" style="max-width: 60rem;">
  <div class="card-header">FONKSİYON</div>
  <div class="card-body">
    <h4 class="card-title">Bağıntı Fonksiyon Formülü</h4>
    <p class="card-text">s(A)=m , s(B)=n olmak üzere A ->B tanımlanan

      a) bağıntı sayısı ; 2m.n
      b) fonksiyon sayısı ; nm
      c) birebir fonksiyon sayısı ; P(n,m)= n! / (n-m)! (n≥m olmak şartıyla)
      d) sabit fonksiyon sayısı ; n
      e) birebir ve örten fonksiyon sayısı ; n! (n=m)
      f) örten fonksiyon sayısı (m≥n)</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 60rem;">
  <div class="card-header">FONKSİYON</div>
  <div class="card-body">
    <h4 class="card-title">Fonksiyon Nedir</h4>
    <p class="card-text">Fonksiyon, matematikte değişken sayıları girdi olarak kabul edip bunlardan bir çıktı sayısı oluşmasını sağlayan kurallardır. Bir işlem türüdür. Dört işlemden sonra gelir.</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 60rem;">
  <div class="card-header">ÜSLÜ SAYILAR</div>
  <div class="card-body">
    <h4 class="card-title">ÜslÜ Sayı Formülü</h4>
    <p class="card-text">ÜSLÜ SAYILAR
      x . an + y . an
      – z . an
      = (x + y – z) . an
      a
      m
      . an
      = am + n
      a
      m
      . bm
      = (a . b)m
      a
      m
      : an
      = am - n</p>
  </div>
</div>
