<img src="/assets/yks.jpg" alt="image">
<h3>2021 YKS Konuları ve Soru Dağılımı

</h3>
<h2>
  YKS konuları 2021
</h2>
<p>
  Selamlar sevgili arkadaşlar. Bu makalemizde size Yükseköğretim Kurumları Sınavı yani kısa adıyla YKS 2021 konuları ve soru dağılımından bahsedeceğiz. Öncesinde isterseniz sınavı ve adımlarını inceleyelim, öğrenelim. Bildiğiniz üzere YKS 3 oturumdan oluşmaktadır. 1. oturum olarak TYT (Temel Yeterlilik Testi) sınavına giriyorsunuz. 2. oturumda AYT yani Alan Yeterlilik Testi sınavına giriyorsunuz ve son sınava geliyor sıra. Son aşama olan 3. oturum Yabancı Dil Testi olan YDT sınavına giriyorsunuz. Bu sınavların tamamı aynı haftasonunda gerçekleştiriliyor ve sonuçları kısa sürede açıklanıyor. 2021 YKS konuları gelsin o halde;
</p>
<h2>
  YKS soru dağılımı 2021 – AYT ve TYT

</h2>
<p>
  2021 YKS soru dağılımı konusu birçoğunuzun merak ettiği bir konu. Öncesinde soru sayılarından ve derslerden bahsedelim.

2021 TYT sınavı soru sayıları;

Temel Türkçe : 40
Temel Matematik : 40
Biyoloji : 6
Kimya : 7
Fizik : 7
Din Kültürü : 5
Felsefe : 5
Coğrafya : 5
Tarih : 5
Toplam : 120 soru
Bilindiği üzere TYT sınavında 9. ve 10. sınıf konu ve müfredatlarından sorular sorulmaktadır. Bu sebepten kıyasla daha kolay bir sınav olarak bilinmektedir.


</p>

<h2>
  AYT konuları ve soru dağılımı 2021
</h2>
<p>
  2021 AYT Sınavı soru sayıları;

Fen Bilimleri : 40
Matematik : 40
Türk Dili ve Edebiyatı : 40
Sosyal Bilimler : 40
Toplam : 160 soru
2021 AYT sınavı konuları daha zor olarak bilinmektedir. Bu sebepten biraz daha teknik sorular karşınıza çıkacak olup daha sıkı bir çalışma programı gerekmektedir.
</p>



