<img src="/assets/dgs.jpg" alt="image">
<h3>
  DGS Nedir? Dikey Geçiş Sınavı Rehberi
</h3>
<h2>
  DGS Nedir?

</h2>
<p>
  Dikey Geçiş Sınavı, ön lisans mezunu bireylerin lisans programlarına geçiş yapmasını sağlayan bir sınavdır ve kısaca DGS olarak adlandırılmaktadır. DGS nedir sorusunun yanıtı özetle aslında bu kadar.

Örgün ve açık öğretim programı fark etmeksizin, iki yıllık herhangi bir bölümden mezun olan kişi DGS sınavı aracılığıyla, okuduğu ön lisansla bağlantılı olan istediği bir lisans programına geçiş yapma hakkına sahiptir.

</p>
<h2>
  DGS Sınavına Kimler Girebilir – Başvurabilir?

</h2>
<p>
  DGS’ye kimler girebilir, başvuru koşullarının en başında Türkiye Cumhuriyeti vatandaşı olmak gerekir. Diğer şartlar ise şu şekilde sıralanır;

2 yıllık bir ön lisans programından mezun olmak ya da bu programın son sınıf öğrencisi olmak
Meslek yüksek okulu veyahut açık öğretim fakültelerinin iki yıllık sürecinin sonuna gelenler ya da mezun olan öğrenciler,
Kuzey Kıbrıs Türk Cumhuriyeti’nde yine meslek yüksek okulu, açık öğretim ya da iki yıllık örgün öğretimin son sınıfına ulaşmış olanlarla birlikte bu fakülteleri başarı ile bitirmiş olanlar.
</p>